@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #00799f;
    --rounded: 5px;
    --rounded-md: 10px;
    --input-underline: 2px solid #51726b;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

a.button,
button.button {
    display: block;
    /* background-color: var(--primary); */
    color: white;
    min-width: 65px;
    width: 100%;
    padding: 8px 25px;
    /* text-align: center; */
    border-radius: var(--rounded);
    border-width: 2px;
    cursor: pointer;

    transition: all 0.2s;
}

a.button:hover,
button.button {
    background-color: white;
    /* color: var(--primary); */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border-bottom: var(--input-underline);
}

.container {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 50px 1fr 50px;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.scene {
    perspective: 600px;
    width: 200px;
    height: 200px;
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 80%;
}

.cube-face:hover {
    opacity: 100%;
}

#front {
    background-image: url("/thumbnails/bountiful-foods-thumbnail-small.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(0deg) translateZ(100px);
}

#right {
    background-image: url("/thumbnails/chamber-thumbnail-small.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(90deg) translateZ(100px);
}

#back {
    background-image: url("/thumbnails/motors-thumbnail-small.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg) translateZ(100px);
}

#left {
    background-image: url("/thumbnails/techtroll-thumbnail-small.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(-90deg) translateZ(100px);
}

#top {
    transform: rotateX(90deg) translateZ(100px);
}

#bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.cube.show-front {
    transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-right {
    transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-left {
    transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-top {
    transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
}
