@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #00799f;
    --rounded: 5px;
    --rounded-md: 10px
}

.button {
    display: block;
    background-color: var(--primary);
    color: white;
    min-width: 65px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    border-radius: var(--rounded);
    border: 2px solid var(--primary);

    transition: all 0.2s;
}

.button:hover {
    background-color: white;
    color: var(--primary);
}