@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0466c8;
    --primary-dark: #0353a4;
    --secondary: #001845;
    --secondary-dark: #001233;
    --tertiary: #023e7d;
    --tertiary-dark: #002855;

    --white: #eeeeee;
    --white-dark: #222222;
    --grey: #5c677d;
    --grey-light: #cbd2e2;
    --grey-dark: #343634;

    --green: #58f18b;
    --green-dark: #2e8049;
}

html {
    background-color: var(--white);
}

body {
    font-family: "Varela Round", sans-serif;
}

header {
    background-color: var(--primary-dark);
    font-family: "Poetsen One", sans-serif;
}

main {
    margin: 20px 5px;
}

h1,
h2,
h3,
h4 {
    font-family: "Poetsen One", sans-serif !important;
}

h1 {
    @media only screen and (max-width: 375px) {
        font-size: 32px;
    }
}

h2 {
    @media only screen and (max-width: 375px) {
        font-size: 20px;
    }
}

h3 {
    @media only screen and (max-width: 375px) {
        font-size: 18px;
    }
}

Button {
    font-size: 16px !important;

    &.green {
        background-color: var(--green);
        color: var(--grey-dark);
    }

    &.green:hover {
        background-color: var(--green-dark);
        color: var(--white);
        text-decoration: underline;
    }
}

form {
    & > * {
        font-family: "Varela Round", sans-serif;
        font-size: 18px;
        margin: 10px 0;
    }

    input {
        padding-left: 8px;
        border-bottom: none !important;
    }

    & > button {
        margin-top: 20px;
    }
}

.car-card {
    width: 150px;
    border: 2px solid var(--secondary-dark);
    border-radius: 10px;
    background-color: var(--primary-dark);

    & > div.car-thumbnail {
        width: 100%;
        aspect-ratio: 4/3;
    }

    & > div.car-title {
        padding: 5px 0;

        & > p {
            color: var(--white);
            text-align: center;
            line-height: 22px;

            & span.car-make {
                font-size: 18px;
                font-weight: bold;
            }

            & span.car-model {
                font-size: 16px;
            }
        }
    }

    &:hover {
        background-color: var(--secondary-dark);
    }
}

.car-details {
    width: 90%;
    margin-inline: auto;

    & .car-details-row:nth-child(2n-1) {
        background-color: var(--grey-light);
        border-radius: 5px;
    }

    & .car-details-row {
        display: flex;
        align-items: center;
        & .car-details-column {
            padding: 0 10px;
        }

        & .car-details-column:first-child {
            width: 50%;
            font-family: "Poetsen One", sans-serif;
            font-size: 18px;
        }

        & .car-details-column:last-child {
            width: 50%;
            font-family: "Varela Round", sans-serif;
            font-size: 16px;
            text-align: right;
        }
    }
}
