@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Fira Code", monospace;
}

h2 {
    font-size: 20px;
}

@media print {
    .no-print {
        display: none;
    }
}
